<h1>Courses Index</h1>

<h2>Course List</h2>
<ul>
  <% @courses.order_alphabetical.each do |c| %>
    <li><%= c.name %>: <%= c.student_count %></li>
      <ul id="course-<%= c.id %>">
        <% c.students.order_alphabetical.each do |s| %>
          <li><%= s.name %></li>
        <% end%>
      </ul>
  <% end %>
</ul>